h1,
span {
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#canvas {
    border: 1px solid black;
}

#signature {
    margin-top: 20px;
}